<.table id="bounties" rows={@bounties}>
  <:col :let={bounty} label="id"><%= bounty.id %></:col>
  <:col :let={bounty} label="description"><%= bounty.description %></:col>
  <:col :let={bounty} label="org"><%= bounty.org %></:col>
  <:col :let={bounty} label="amount"><%= bounty.amount %></:col>
</.table>
